
[general]
import = [
#"themes/Tokyonight_Day.toml"
#"themes/Tokyonight_Night.toml"
"themes/catppuccin-latte.toml"
#"themes/Dracula.toml"
]


[font]
# ls ~/.local/share/fonts
# fc-list : familiy | sort -f | grep Nerd
normal = { family = "JetBrainsMono NFM", style = "Regular" }
bold = { family = "JetBrainsMono NFM", style = "Bold" }
italic = { family = "JetBrainsMono NFM", style = "Italic" }
bold_italic = { family = "JetBrainsMono NFM", style = "BoldItalic" }
size = 14


[window]
opacity=1
decorations="Transparent"
blur=true


# [[hints.enabled]]
# #command = "xdg-open" # On Linux/BSD
# command = "open" # On macOS
# # command = { program = "cmd", args = [ "/c", "start", "" ] } # On Windows
# hyperlinks = true
# post_processing = true
# persist = false
# mouse.enabled = true
# binding = { key = "O", mods = "Control|Shift" }

[[hints.enabled]]
regex = "[^ ]+\\.rs:\\d+:\\d+"
command = { program = "code", args = [ "--goto" ] }
mouse = { enabled = true }

# [[hints.enabled]]
# command = "open" # On macOS
# # command = { program = "cmd", args = [ "/c", "start", "" ] } # On Windows
# hyperlinks = true
# mouse = { enabled = true }

[mouse]
bindings = [
    { mouse = "Left", mods = "Control", action="Open" },
]

[keyboard]
bindings = [
    { key = "g", mods = "Super", chars="gitui\n" },
    { key = "e", mods = "Super", chars="fg\n" },
# override default behavior of alacritty
    { key = "b", mods = "Control | Shift", action="None" },
# actions
    { key = "=", mods = "Control", action="IncreaseFontSize" },
    { key = "-", mods = "Control", action="DecreaseFontSize" },
    { key = "0", mods = "Control", action="ResetFontSize" },

    ## { key = "i", mods = "Control | Shift", action="ToggleViMode" },
# not working
#{ key = "t", mods = "Super", action="CreateNewTab" },
]

